body{
      
    background-color:black;
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 400;
    font-style: normal;
    color: #bea060;
}

.nav-bar{
    color: #bea060;
    display: flex; 
    justify-content: space-around;
    height: 7vh;
}
/*viewport height: vh
  viewport width: vw
*/
.nav-items{
    color: #bea060;
    margin-top: 3.5vh;
    color: rgb(255, 255, 255);
    width:90vw;
}

.nav-items a{
    width:100%;
    font-weight: bold;
    margin-left: 10vw;
    font-size: clamp(1rem, 3vw,3vh);
    cursor:pointer;
    color:#bea060;
}

#Home{
    margin-left: 15vw;
}
#Home,#About,#Contact,#Portfolio{
    transition: color 0.15s;
}
#Home:hover,#About:hover,#Contact:hover,#Portfolio:hover{
    color:wheat;
}

#Hire{
    background-color: #bea060;
    color:white;
    border-radius: 0.3vw;
    border: none;
    text-align: center;
    margin-top:10px;
    font-size: clamp(1rem, 3vw,2vh);
}
/*.Hire{
    height: 45px;
    width: 120px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 5px;
    
    
    

}*/



.social ion-icon{
    font-size:clamp(1rem, 4vw, 5vh);
    margin-bottom: 30%;
    color:#bea060;
    transition: color 0.3s;
}
ion-icon:hover{
    color: wheat;
}
.social{
    position: absolute;
    width:fit-content;
    top:15vh;
    margin-left: 1.5%;
}




.intro{
    width: 90vw;
    height:50vh;
}
.intro h1{
    width: 100vw;
    height: 25vh;
    margin-left: 3vw;
    margin-top : 3.5vh;
    font-size: clamp(1rem, 5vw, 8vh);
}

.intro p{
    width: 60vw;
    margin-top: 4vh;
    margin-left: 3vw;
    font-size: clamp(1rem, 1vw, 2vh);
}

.main-container{    

    display: flex;
    justify-content:left;
    position: relative;
    width:90vw;
    margin-top:1.5vh;
    left:3vw;

}
.background-clip{

    position: fixed;
    right: 0;
    bottom:0;
    width:100vw;
    height:100vh;
    object-fit: cover;
    z-index: -1;
}


/* This is for java script*/
.About{
    padding-left: 280px;
    text-align: center;
}
.About h1{
    text-decoration: underline;
}

.heading-contact{
    width:100vw;
    text-align: center;
    text-decoration: underline;
    left:50vw;
    height:20vh;
    font-size: clamp(1rem, 12vw,12vh);
}
.contact-details {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100vw;
    height:25vh;
    padding-left: 100px;
}

.contact-item {
    text-align: center;
    background-color: #eee1e1;
    border-radius: 1vw;
    width: 25vw;
}

.contact-item ion-icon {
    width:7vw;
    height:7vh;
    color: #bea060;
}

.contact-item h3 {
    position: relative;
    margin-top: 10px;
    color: #000;
    font-size: clamp(1rem, 3vw,3vh);
    font-weight: bold;
}

.contact-item p {
    position: relative;
    color: #333;
    font-size: clamp(1rem, 1.75vw,1.75vh);
}

.jsabout h1{
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    width: 500px;
    margin-left: 32%;
}
.jspara{
    padding-top: 20px;
    padding-left: 200px;
    text-align: left;
    width: 400px;
    margin-left: 30%;
}


/* Styling for phones */
@media only screen and (max-width:600px){
    .intro h1{
        height:fit-content;
        font-size: clamp(1rem, 10vw, 16vh);
    }
    .nav-items a{
        margin-left: 5vw;
    }
    #Hire{
        position: relative;
        top: 50vh;
        left: 70vw;
    }
}
/* Styling for tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .intro h1{
        height:fit-content;
        font-size: clamp(1rem, 10vw, 16vh);
    }
    
    .nav-items a{
        margin-left: 5vw;
        
    }
    #Hire{
        position: relative;
        
    }
}
@keyframes enlargen{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}