body{
      

    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;

  font-style: normal;
    color: #ffffff;
}

.nav-bar{
    color: #ffffff;
    display: flex; 
    justify-content: space-around;
    height: 7vh;
    
}
/*viewport height: vh
  viewport width: vw
*/
.nav-items{
    color: #ffffff;
    margin-top: 3.5vh;
    color: rgb(255, 255, 255);
    width:90vw;
}

.nav-items a{
    width:100%;
    font-weight: bold;
    margin-left: 7vw;
    font-size: clamp(1rem, 4.5vw,4.5vh);
    cursor:pointer;
    color:#ffffff;
}

#Home{
    margin-left: 25vw;
}
#Home,#About,#Contact,#Portfolio{
    transition: color 0.15s;
}
#Home:hover,#About:hover,#Contact:hover,#Portfolio:hover{
    color:rgb(255, 255, 255);
}

#Hire{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3vw;
    background-color: #ffffff;
    color:rgb(0, 0, 0);
    border-radius: 0.3vw;
    border: none;
    text-align: center;
    margin-top:17px;
    height: 7vh;
    width: 9vw;
    font-size: clamp(1rem, 3.5vw,3.5vh);
    cursor: pointer;
}


.social ion-icon{
    font-size:clamp(1rem, 4vw, 5vh);
    margin-bottom: 80%;
    color:#ffffff;
    transition: color 0.3s;
}
ion-icon:hover{
    color: wheat;
}
.social{
    position: absolute;
    width:fit-content;
    top:25vh;
    margin-left: 3%;
}




.intro{
    width: 90vw;
    height:50vh;
}
.intro h1{
    width: 50vw;
    height: 25vh;
    margin-left: 8vw;
    margin-top : 10vh;
    font-size: clamp(1rem, 8vw, 10vh);
}



.intro p{
    width: 40vw;
    margin-top: 5vh;
    margin-left: 8vw;
    font-size: clamp(1rem, 3vw, 3vh);
}

.main-container{    

    display: flex;
    justify-content:left;
    position: relative;
    width:50vw;
    margin-top:1.5vh;
    left:3vw;

}
.background-clip{

    position: fixed;
    right: 0;
    bottom:0;
    width:100vw;
    height:100vh;
    object-fit: cover;
    z-index: -1;
}


/* This is for java script*/
.About{
    padding-left: 280px;
    text-align: center;
}
.About h1{
    text-decoration: underline;
}

.heading-contact{
    width:100vw;
    text-align: center;
    text-decoration: underline;
    left:50vw;
    height:20vh;
    font-size: clamp(1rem, 12vw,12vh);
}
.contact-details {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 85vw;
    height:25vh;
    padding-left: 100px;
}

.contact-item {
    text-align: center;
    background-color: #eee1e1;
    border-radius: 1vw;
    width: 25vw;
    height: 30vh;
}

.contact-item ion-icon {
    width:7vw;
    height:7vh;
    color: #bea060;
}

.contact-item h3 {
    position: relative;
    margin-top: 10px;
    color: #000;
    font-size: clamp(1rem, 3vw,3vh);
    font-weight: bold;
}

.contact-item p {
    position: relative;
    color: #333;
    font-size: clamp(1rem, 1.75vw,1.75vh);
}

.jsabout h1{
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    width: 500px;
    margin-left: 32%;
}

.jsabout h4{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    width: 500px;
    margin-left: 20%;
}
.jspara{
    padding-top: 20px;
    padding-left: 200px;
    text-align: left;
    width: 400px;
    margin-left: 26%;
}
img{
    margin-top:6.5vh;
}

/* Styling for phones */
@media only screen and (max-width:600px){
    .intro h1{
        height:fit-content;
        font-size: clamp(1rem, 10vw, 16vh);
    }
    .nav-items a{
        margin-left: 5vw;
    }
    #Hire{
        position: relative;
        top: 50vh;
        left: 70vw;
    }
}
/* Styling for tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .intro h1{
        height:fit-content;
        font-size: clamp(1rem, 10vw, 16vh);
    }
    
    .nav-items a{
        margin-left: 5vw;
        
    }
    #Hire{
        position: relative;
        
    }
}
@keyframes enlargen{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}